<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        table {
            margin-top: 20px;
            width: 600px;
            border-collapse: collapse;
        }
        td,th{
            height: 50px;
            text-align: center;
            border: 1px solid #CCC;
        }
    </style>
</head>
<body>
<input type="text" id="city"/> <a href="javascript:;" id="search">天气查询</a>
<table>
    <thead>
        <tr>
            <th>日期</th>
            <th>白天</th>
            <th>晚上</th>
            <th>温度</th>
            <th>天气</th>
            <th>风力</th>
        </tr>
    </thead>
    <tbody>
        <!--todo-->
    </tbody>
</table>
<script type="text/template" id="list">
    <% for(var i = 0 ; i < list.length;i++){ %>
    <tr>
        <td><%=list[i].date%></td>
        <td><img src="<%=list[i].dayPictureUrl%>" alt=""></td>
        <td><img src="<%=list[i].nightPictureUrl%>" alt=""></td>
        <td><%=list[i].temperature%></td>
        <td><%=list[i].weather%></td>
        <td><%=list[i].wind%></td>
    </tr>
    <% } %>
</script>
<script src="js/jquery.min.js"></script>
<script src="js/template-native.js"></script>
<script>
    $(function () {
        $('#search').on('click',function () {
            $.ajax({
                url:'http://api.map.baidu.com/telematics/v3/weather',
                data:{
                    ak:'0A5bc3c4fb543c8f9bc54b77bc155724',
                    output:'json',
                    location:$.trim($('#city').val())||'北京'
                },
                dataType:'jsonp',
                success:function (data) {
                    console.log(data);
                    var wd = data.results[0].weather_data;
                    console.log(wd);
                    $('tbody').html(template('list',{list:wd}));
                }
            });
        })
    })
</script>
</body>
</html>